body {
                background: #ffffff;      /* Background color de toda la página */
                height: 100vh;            
                display: flex;            /* Define contenedor flexible */
                justify-content: center;  /* Centra horizontalmente el lienzo */
                align-items: center;      /* Centra verticalmente el lienzo */
                }

                .canvas {
                width: 320px;   /* Ancho del lienzo, se asocia al ANCHO de la entrada */
                height:320px;  /* Alto del lienzo, se asocia al ALTO de la entrada */
                }

                .pixel {
                width: 20px;    /* Ancho de cada pixel, se obtiene al operar ANCHO/COLUMNAS (al hablar de pixeles el resultado de la división debe ser un numero entero) */
                height: 20px;   /* Alto de cada pixel, se obtiene al operar ALTO/FILAS (al hablar de pixeles el resultado de la división debe ser un numero entero) */
                float: left;
                box-shadow: 0px 0px 1px rgb(24, 23, 23); /*Si lo comentan les quita la cuadricula de fondo */
                }.pixel:nth-child(6){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(7){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(8){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(9){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(10){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(11){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(22){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(23){
                                    background:#FFFFFF; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(24){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(25){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(26){
                                    background:#FFFFFF; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(27){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(28){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(29){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(20){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(21){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(40){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(41){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(35){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(36){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(45){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(46){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(62){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(63){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(50){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(51){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(52){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(56){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(57){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(55){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(58){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(61){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(244){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(245){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(246){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(247){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(248){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(249){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(250){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(251){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(252){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(253){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(227){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(228){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(237){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(238){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(210){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(211){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(222){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(194){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(195){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(206){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(207){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(199){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(202){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(177){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(178){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(179){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(180){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(183){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(186){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(189){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(190){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(191){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(192){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(161){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(164){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(165){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(166){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(167){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(168){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(169){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(170){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(171){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(172){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(173){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(176){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(162){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(163){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(174){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(175){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(145){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(160){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(146){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(147){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(148){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(149){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(150){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(155){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(156){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(157){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(158){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(159){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(129){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(113){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(97){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(81){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(82){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(66){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(144){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(128){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(112){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(96){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(95){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(79){
                                    background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(68){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(69){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(70){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(71){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(72){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(73){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(74){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(75){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(76){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(77){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(85){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(101){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(117){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(133){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(92){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(108){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(124){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(140){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(86){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }.pixel:nth-child(91){
                                    background:#00FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                    }