body {
            background: #ffffff;      /* Background color de toda la página */
            height: 100vh;            
            display: flex;            /* Define contenedor flexible */
            justify-content: center;  /* Centra horizontalmente el lienzo */
            align-items: center;      /* Centra verticalmente el lienzo */
            }

            .canvas {
            width: 300px;   /* Ancho del lienzo, se asocia al ANCHO de la entrada */
            height:300px;  /* Alto del lienzo, se asocia al ALTO de la entrada */
            }

            .pixel {
            width: 25px;    /* Ancho de cada pixel, se obtiene al operar ANCHO/COLUMNAS (al hablar de pixeles el resultado de la división debe ser un numero entero) */
            height: 25px;   /* Alto de cada pixel, se obtiene al operar ALTO/FILAS (al hablar de pixeles el resultado de la división debe ser un numero entero) */
            float: left;
            box-shadow: 0px 0px 1px rgb(24, 23, 23); /*Si lo comentan les quita la cuadricula de fondo */
            }.pixel:nth-child(137){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(138){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(139){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(140){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(123){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(124){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(125){
                                background:#FA0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(126){
                                background:#FA0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(127){
                                background:#FA0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(128){
                                background:#FA0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(129){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(130){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(110){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(111){
                                background:#FA0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(112){
                                background:#FA0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(114){
                                background:#FA0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(115){
                                background:#FA0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(116){
                                background:#FA0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(117){
                                background:#FA0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(118){
                                background:#FA0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(119){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(98){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(99){
                                background:#FA0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(103){
                                background:#FA0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(104){
                                background:#FA0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(105){
                                background:#FA0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(106){
                                background:#FA0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(107){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(85){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(86){
                                background:#FA0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(87){
                                background:#FA0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(88){
                                background:#FA0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(90){
                                background:#FA0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(91){
                                background:#FA0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(92){
                                background:#FA0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(93){
                                background:#FA0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(94){
                                background:#FA0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(95){
                                background:#FA0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(96){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(73){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(74){
                                background:#FA0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(75){
                                background:#FA0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(76){
                                background:#FA0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(77){
                                background:#FA0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(78){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(79){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(80){
                                background:#FA0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(81){
                                background:#FA0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(82){
                                background:#FA0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(83){
                                background:#FA0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(84){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(61){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(62){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(63){
                                background:#FA0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(64){
                                background:#FA0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(65){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(67){
                                background:#CDCDCD; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(68){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(69){
                                background:#FA0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(70){
                                background:#FA0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(71){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(72){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(49){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(51){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(52){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(53){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(54){
                                background:#CDCDCD; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(55){
                                background:#CDCDCD; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(56){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(57){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(58){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(59){
                                background:#CDCDCD; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(60){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(5){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(6){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(7){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(8){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(15){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(16){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(17){
                                background:#CDCDCD; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(18){
                                background:#CDCDCD; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(19){
                                background:#CDCDCD; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(20){
                                background:#CDCDCD; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(21){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(22){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(26){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(27){
                                background:#CDCDCD; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(31){
                                background:#CDCDCD; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(32){
                                background:#CDCDCD; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(33){
                                background:#CDCDCD; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(34){
                                background:#CDCDCD; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(35){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(38){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(42){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(43){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(44){
                                background:#CDCDCD; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(45){
                                background:#CDCDCD; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(46){
                                background:#CDCDCD; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(47){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }