body {
            background: #ffffff;      /* Background color de toda la página */
            height: 100vh;            
            display: flex;            /* Define contenedor flexible */
            justify-content: center;  /* Centra horizontalmente el lienzo */
            align-items: center;      /* Centra verticalmente el lienzo */
            }

            .canvas {
            width: 510px;   /* Ancho del lienzo, se asocia al ANCHO de la entrada */
            height:540px;  /* Alto del lienzo, se asocia al ALTO de la entrada */
            }

            .pixel {
            width: 30px;    /* Ancho de cada pixel, se obtiene al operar ANCHO/COLUMNAS (al hablar de pixeles el resultado de la división debe ser un numero entero) */
            height: 30px;   /* Alto de cada pixel, se obtiene al operar ALTO/FILAS (al hablar de pixeles el resultado de la división debe ser un numero entero) */
            float: left;
            box-shadow: 0px 0px 1px rgb(24, 23, 23); /*Si lo comentan les quita la cuadricula de fondo */
            }.pixel:nth-child(1){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(2){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(3){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(4){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(5){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(6){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(7){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(8){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(9){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(10){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(11){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(12){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(13){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(14){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(15){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(16){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(17){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(18){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(23){
                                background:#FF0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(24){
                                background:#FF0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(25){
                                background:#FF0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(26){
                                background:#FF0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(27){
                                background:#FF0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(28){
                                background:#FF0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(34){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(35){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(39){
                                background:#FF0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(40){
                                background:#FF0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(41){
                                background:#FF0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(42){
                                background:#FF0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(43){
                                background:#FF0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(44){
                                background:#FF0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(45){
                                background:#FF0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(46){
                                background:#FF0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(47){
                                background:#FF0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(48){
                                background:#FF0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(51){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(52){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(56){
                                background:#804000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(57){
                                background:#804000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(58){
                                background:#804000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(59){
                                background:#FDDDCA; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(60){
                                background:#FDDDCA; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(61){
                                background:#FDDDCA; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(62){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(63){
                                background:#FDDDCA; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(68){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(69){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(72){
                                background:#804000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(73){
                                background:#FDDDCA; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(74){
                                background:#804000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(75){
                                background:#FDDDCA; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(76){
                                background:#FDDDCA; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(77){
                                background:#FDDDCA; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(78){
                                background:#FDDDCA; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(79){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(80){
                                background:#FDDDCA; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(81){
                                background:#FDDDCA; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(82){
                                background:#FDDDCA; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(85){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(86){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(89){
                                background:#804000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(90){
                                background:#FDDDCA; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(91){
                                background:#804000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(92){
                                background:#804000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(93){
                                background:#FDDDCA; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(94){
                                background:#FDDDCA; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(95){
                                background:#FDDDCA; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(96){
                                background:#FDDDCA; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(97){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(98){
                                background:#FDDDCA; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(99){
                                background:#FDDDCA; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(100){
                                background:#FDDDCA; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(102){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(103){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(106){
                                background:#804000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(107){
                                background:#804000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(108){
                                background:#FDDDCA; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(109){
                                background:#FDDDCA; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(110){
                                background:#FDDDCA; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(111){
                                background:#FDDDCA; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(112){
                                background:#FDDDCA; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(113){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(114){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(115){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(116){
                                background:#000000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(119){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(120){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(125){
                                background:#FDDDCA; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(126){
                                background:#FDDDCA; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(127){
                                background:#FDDDCA; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(128){
                                background:#FDDDCA; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(129){
                                background:#FDDDCA; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(130){
                                background:#FDDDCA; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(131){
                                background:#FDDDCA; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(132){
                                background:#FDDDCA; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(136){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(137){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(142){
                                background:#FF0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(143){
                                background:#1100FF; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(144){
                                background:#FF0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(145){
                                background:#FF0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(146){
                                background:#1100FF; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(147){
                                background:#FF0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(153){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(154){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(158){
                                background:#FF0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(159){
                                background:#FF0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(160){
                                background:#1100FF; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(161){
                                background:#FF0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(162){
                                background:#FF0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(163){
                                background:#1100FF; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(164){
                                background:#FF0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(165){
                                background:#FF0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(170){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(171){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(174){
                                background:#FF0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(175){
                                background:#FF0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(176){
                                background:#FF0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(177){
                                background:#1100FF; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(178){
                                background:#1100FF; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(179){
                                background:#1100FF; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(180){
                                background:#1100FF; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(181){
                                background:#FF0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(182){
                                background:#FF0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(183){
                                background:#FF0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(187){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(188){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(190){
                                background:#FF0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(191){
                                background:#FF0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(192){
                                background:#FF0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(193){
                                background:#1100FF; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(194){
                                background:#F5FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(195){
                                background:#1100FF; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(196){
                                background:#1100FF; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(197){
                                background:#F5FF00; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(198){
                                background:#1100FF; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(199){
                                background:#FF0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(200){
                                background:#FF0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(201){
                                background:#FF0000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(204){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(205){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(207){
                                background:#FDDDCA; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(208){
                                background:#FDDDCA; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(209){
                                background:#FDDDCA; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(210){
                                background:#1100FF; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(211){
                                background:#1100FF; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(212){
                                background:#1100FF; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(213){
                                background:#1100FF; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(214){
                                background:#1100FF; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(215){
                                background:#1100FF; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(216){
                                background:#FDDDCA; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(217){
                                background:#FDDDCA; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(218){
                                background:#FDDDCA; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(221){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(222){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(224){
                                background:#FDDDCA; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(225){
                                background:#FDDDCA; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(226){
                                background:#1100FF; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(227){
                                background:#1100FF; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(228){
                                background:#1100FF; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(229){
                                background:#1100FF; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(230){
                                background:#1100FF; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(231){
                                background:#1100FF; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(232){
                                background:#1100FF; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(233){
                                background:#1100FF; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(234){
                                background:#FDDDCA; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(235){
                                background:#FDDDCA; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(238){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(239){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(243){
                                background:#1100FF; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(244){
                                background:#1100FF; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(245){
                                background:#1100FF; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(248){
                                background:#1100FF; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(249){
                                background:#1100FF; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(250){
                                background:#1100FF; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(255){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(256){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(259){
                                background:#804000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(260){
                                background:#804000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(261){
                                background:#804000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(266){
                                background:#804000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(267){
                                background:#804000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(268){
                                background:#804000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(272){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(273){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(275){
                                background:#804000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(276){
                                background:#804000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(277){
                                background:#804000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(278){
                                background:#804000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(283){
                                background:#804000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(284){
                                background:#804000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(285){
                                background:#804000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(286){
                                background:#804000; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(289){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(290){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(291){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(292){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(293){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(294){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(295){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(296){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(297){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(298){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(299){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(300){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(301){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(302){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(303){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(304){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(305){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }.pixel:nth-child(306){
                                background:#00FF40; /* Todo lo que este agrupado separado por comas antes de esta parte { background:..... } se le va a asignar el color indicado*/
                                }